.site-heading__box {
    text-align: center;
}
.site-heading {
    @include font-style($font-oxygen400, 20px, 27px, #2E2E2E) {
        margin-top: 0;
        margin-bottom: 16px;
    }
}

.site-heading--big {
    @include font-style($font-oxygen400, 25px, 30px, #EFEFEF) {
        margin-top: 0;
        margin-bottom: 17px;
    }
}

.site-heading__underline {
    margin: 0 auto;
    border: none;
    display: inline-block;
    width: 188px;
    height: 1.5px;
    background-color: #DEDEDE;
}